<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415451280960-0eafe6phokq1cbq4bnavgfslgrkvt4jb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415451280960-0eafe6phokq1cbq4bnavgfslgrkvt4jb</string>
	<key>API_KEY</key>
	<string>AIzaSyCLeDot6D-Gy2Hq4R2WUiPbEro8U59hOwE</string>
	<key>GCM_SENDER_ID</key>
	<string>415451280960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lvo.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-74960</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-74960.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415451280960:ios:fcc0c42c862cec5e9491a5</string>
</dict>
</plist>